<!DOCTYPE HTML>
<html>
    <head>
        <title>NEI!</title>
        <link rel="stylesheet" type="text/css" href="/styles/fonts.css">
        <link rel="stylesheet" type="text/css" href="/styles/site.css">
    </head>
    <body>
        <section class="content">
            <h1 class="main-header">Socialcast posts</h1>
            <ul>
                {{#each posts}}
                <li class="post">
                    <section>
                    <div class="user">
                        <span>{{user.name}}</span>
                    </div>
                    <p class="text">{{body}}</p>
                    <div class="likes">
                        <span>❤ {{likes.length}}</span>
                    </div>
                    <div class="comments">
                        <ul>
                            {{#each comments}}
                            <li><span class="commenter-name">{{user.name}}</span>: {{text}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    </section>
                </li>
                {{/each}}
            </ul>
        </section>

    </body>
</html>
